/* Properties related to the body content as a whole */
body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Header Properties */
header {
  font-size: 1.5rem;
}

/* Header and Form properties */
header,
form {
  min-height: 20vh;
  /* Centering the header and form elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form child properties */
form > * {
  border: none;
  padding: 0.5rem;
  background-color: white;
  font-size: 2rem;
}

/* Form button properties */
.todo-button {
  cursor: pointer;
  color: #d88771;
  background-color: white;
  transition: all 0.2s ease;
}

/* Hover properties for the Form button */
.todo-button:hover {
  color: white;
  background-color: #d88771;
}

/* Properties related to the todo items filter dropdown list */
.filter-todo {
  position: relative;
  margin: 2rem;
  padding: 0;
}

.filter-select {
  display: block;
  min-height: 3.3rem;
  max-height: 3.3rem;
  width: 12.5rem;
  padding: 0 1rem;
  color: #d88771;
  background-color: white;
  font-size: 1.5rem;
}

/* Properties related to the custom dropdown button for the todo items filter dropdown list */
.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  min-height: 3.3rem;
  max-height: 3.3rem;
  padding: 0 0.5rem;
  font-size: 2rem;
  color: #d88771;
  background-color: white;
  transition: all 0.2s ease;
  pointer-events: none;
}

/* Properties related to the todo-container which holds the new todo items as they are added */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Properties related to the ul element inside the todo-container */
.todo-list {
  min-width: 30%;
}

/* Properties related to the newly add todo item */
.todo {
  margin: 0.5rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 1.5rem;
  color: black;
  transition: all 0.5s ease;
}

/* Properties related to the todo item text */
.todo-item {
  padding: 0rem 0.5rem;
  flex: 1;
}

/* Properties shared by both the buttons added to each todo item */
.trash-btn,
.complete-btn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/* Properties specific to the completed (check mark) button for each todo item */
.complete-btn {
  background-color: rgb(73, 204, 73);
}

/* Properties specific to the delete (trash can icon) button for each todo item */
.trash-btn {
  background-color: #ff6f47;
}

/* Properties related to the check and trash buttons for each todo item */
.fa-check,
.fa-trash {
  pointer-events: none;
}

/* Properties related to the todo items that have been completed */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Properties related to the todo items upon deletion */
.fall {
  transform: translateX(10rem);
  opacity: 0;
}
